---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading" style="margin-bottom:0.25rem !important;margin-top:0.5rem !important;">{{ page.title }}</h1>
  {%- endif -%}

{% if page.shoplink != "" %}
<div class="buy_box">
  <p class="buy_button">
    <a href="{{ page.shoplink }}" class="w3-button">BUY {{ page.price }}</a>
  </p>
</div>
{% else %}
<p style="text-align: right">
  Coming soon
</p>
{% endif %}

{{ content }}

<!-- Information common for all plugins -->
<h2>Links</h2>
<ul>
  {% if page.manual != "" %}
    <li><a href="{{ page.manual }}">Manual</a></li>
  {% endif %}
  {% if page.shoplink != "" %}
  <li><a href="{{ page.shoplink }}">Buy ({{ page.price }})</a></li>
  {% endif %}
</ul>


<h2> Performance and Customization</h2>

Rendering the responsive UI is performed by the GPU, offloading the CPU for the crucial part: Audio processing.
The plugin is freely resizable and highly customizable.

Themes and parameter modifications can be done via json configuration files. All Darkpalace Studio plugins offer various themes.

<img src="/assets/images/sloth_themes.png" display="block" width="100.0%">

<h2>Plugin formats</h2>
<ul>
  <li><b>Windows 10</b>: VST3, CLAP</li>
  <li><b>Ubuntu 22.04</b>: VST3, CLAP</li>
  <li><b>macOS 12, 13, 14 (Intel and Apple Silicon)</b>: AU, VST3, CLAP</li>
</ul>

<h2>System requirements</h2>
<ul>
  <li>64 bit only</li>
  <li>OpenGL 3 or higher</li>
</ul>

<b>Note</b>: macOS Plugins are not signed. Thus on mac you will need to execute a short command in the shell prior to using it. 
This is described in the <a href="/faq">FAQ</a> or the respective manual.

</div>
